/* 初始化css設定 */
html, body, u1 {
    padding: 0;
    margin: 0;
}
ul{
    list-style-type:none;
}
a{
    text-decoration: none;
}
nav{
    background-color: blue;
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 1em;
}
/* link下的<ul> */
.links ul{
    display: flex;
}
.links ul li{
    margin-right: 1em;
}
.links ul li a{
    color: yellow
}
.links ul li a:hover{
    color: rgba(228, 9, 9, 0.774);
    font-weight: bold;
}
a:hover{
    background:#f29901;
    display:block;
}